[
    {upgrade_from, "2.8.6"},
    {upgrade_previous, "2.8.6"},
    {upgrade_to, "2.8.8"},
    % list() | [<<"all">>]
    {regions, [
        <<"ap-east-1>>,
        <<"ap-northeast-2>>,
        <<"ap-southeast-2>>,
        <<"ca-central-1>>,
        <<"eu-west-1">>
            ]},
    % :soft | :hard
    {type, soft}
].
% supavisor_soft_all-1_1.1.13_1.1.39
% vi: ft=erlang
