[
    {upgrade_from, "2.9.1"},
    {upgrade_previous, "2.9.1"},
    {upgrade_to, "2.9.2"},
    % list() | [<<"all">>]
    {regions, [
	    <<"usw11">>,
	    <<"use21">>,
	    <<"us-east-2">>
            ]},
    % :soft | :hard
    {type, hard}
].
% supavisor_soft_all-1_1.1.13_1.1.39
% vi: ft=erlang
