[
    {upgrade_from, "2.9.0"},     % hard-deploy base of the cluster
    {upgrade_previous, "2.9.0"}, % version currently running (relup is built from this)
    {upgrade_to, "2.9.9"},       % target version
    % list() | [<<"all">>]
    {regions, [
        <<"ap-east-1-sec">>
            ]},
    % :soft | :hard
    {type, hard}
].
% supavisor_soft_all-1_1.1.13_1.1.39
% vi: ft=erlang
