name: Elixir tests
on:
  pull_request:
    branches:
      - main
      - v2

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  SECRET_KEY_BASE: ${{ secrets.SECRET_KEY_BASE }}
  LANG: C.UTF-8
  LC_ALL: C.UTF-8
  MIX_ENV: test

jobs:
  deps:
    name: Fetch deps
    runs-on: u22-arm-runner

    steps:
      - uses: actions/checkout@v4
      - name: Setup Elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          otp-version: '25.3.2.7'
          elixir-version: '1.14.5'
      - name: Cache Mix
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
          restore-keys: |
            ${{ runner.os }}-mix-
      - name: Install dependencies
        run: mix deps.get

  format:
    name: Formatting checks
    runs-on: u22-arm-runner
    needs: [deps]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          otp-version: '25.3.2.7'
          elixir-version: '1.17'
      - name: Cache Mix
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Run format check
        run: mix format --check-formatted

  credo:
    name: Code style
    runs-on: u22-arm-runner
    needs: [deps]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          otp-version: '25.3.2.7'
          elixir-version: '1.14.5'
      - name: Cache Mix
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Compile deps
        run: mix deps.compile
      - name: Credo checks
        run: mix credo --strict --mute-exit-status

  tests:
    name: Run tests
    runs-on: u22-arm-runner
    needs: [deps]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          otp-version: '25.3.2.7'
          elixir-version: '1.14.5'
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - name: Cache Mix
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Cache native
        uses: actions/cache@v4
        with:
          path: |
            _build/${{ env.MIX_ENV }}/lib/supavisor/native
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-build-native-${{ hashFiles(format('{0}{1}', github.workspace, '/native/**/Cargo.lock')) }}
          restore-keys: |
            ${{ runner.os }}-build-native-
      - name: Compile deps
        run: mix deps.compile
      - name: Compile
        run: mix compile
      - name: Set up Postgres
        run: docker-compose -f ./docker-compose.db.yml up -d
      - name: Start epmd
        run: epmd -daemon
      - name: Run tests
        run: mix test

  dialyzer:
    name: Dialyze
    runs-on: u22-arm-runner
    needs: [deps]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Elixir
        id: beam
        uses: erlef/setup-beam@v1
        with:
          otp-version: '25.3.2.7'
          elixir-version: '1.14.5'
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - name: Cache Mix
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Cache native
        uses: actions/cache@v4
        with:
          path: |
            _build/${{ env.MIX_ENV }}/lib/supavisor/native
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-build-native-${{ hashFiles(format('{0}{1}', github.workspace, '/native/**/Cargo.lock')) }}
          restore-keys: |
            ${{ runner.os }}-build-native-
      - name: Compile deps
        run: mix deps.compile
      - name: Compile
        run: mix compile
      - name: Retrieve PLT Cache
        uses: actions/cache@v4
        id: plt-cache
        with:
          path: _build/${{ env.MIX_ENV }}/*.plt
          key: ${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-plts-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Create PLTs
        if: steps.plt-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv/plts
          mix dialyzer.build
      - name: Run dialyzer
        run: mix dialyzer
