name: Publish upgrade artifacts V2 to production

on:
  push:
    branches:
      - release
      - hotfix-v2.1.4
env:
  INCLUDE_ERTS: true
  MIX_ENV: prod
jobs:
  publish:
    runs-on: u22-arm-runner
    timeout-minutes: 15
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set upgrade variables
        run: |
          elixir ./deploy/upgrade/handler.exs all_keys ./deploy/upgrade/prod.config
          echo "RELEASE_FROM=$(elixir ./deploy/upgrade/handler.exs upgrade_from ./deploy/upgrade/prod.config)" >> $GITHUB_ENV
          echo "RELEASE_TO=$(elixir ./deploy/upgrade/handler.exs upgrade_to ./deploy/upgrade/prod.config)" >> $GITHUB_ENV
          echo "NAME=$(elixir ./deploy/upgrade/handler.exs name ./deploy/upgrade/prod.config)" >> $GITHUB_ENV
      - name: Setup Elixir
        run: |
          . ~/.asdf/asdf.sh
          echo 'elixir v1.14.5-otp-25' >> ~/.tool-versions
          echo 'erlang 25.3.2.7' >> ~/.tool-versions
          elixir -v
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - name: Get git tags
        run: git fetch --tags origin
      - name: Checkout RELEASE_FROM
        run: git checkout v${{ env.RELEASE_FROM }}
      - name: Install dependencies
        run: |
          mix local.hex --force
          mix local.rebar --force
          mix deps.get
      - name: Make old release
        run: mix release supavisor
      - name: Checkout RELEASE_TO
        run: git checkout v${{ env.RELEASE_TO }}
      - name: Install dependencies
        run: |
          mix local.hex --force
          mix local.rebar --force
          mix deps.get
      - name: Clean up old release
        run: |
          rm -rf ./_build/${{ env.MIX_ENV }}/lib/
          rm ./_build/${{ env.MIX_ENV }}/rel/supavisor/releases/COOKIE
          rm ./_build/${{ env.MIX_ENV }}/supavisor-${{ env.RELEASE_FROM }}.tar.gz
      - name: Make upgrade release
        run: |
          cat mix.lock
          cat deps/libcluster/mix.exs
          cat _build/prod/lib/libcluster/ebin/libcluster.app
          mix compile
          RELEASE_COOKIE=${{ secrets.RELEASE_COOKIE_PROD }} UPGRADE_FROM=${{ env.RELEASE_FROM }} mix release supavisor
      - name: Create tarball
        run: cd _build/${{ env.MIX_ENV }} && mv supavisor-${{ env.RELEASE_TO }}.tar.gz "${{ env.NAME }}_$(date "+%s").tar.gz"
#      - name: configure aws credentials - production
#        uses: aws-actions/configure-aws-credentials@v4
#        with:
#          role-to-assume: ${{ secrets.PROD_AWS_ROLE }}
#          aws-region: "us-east-1"
#      - name: Deploy to S3
#        shell: bash
#        run: aws s3 sync ./_build/${{ env.MIX_ENV }} ${{ secrets.TARBALLS_PATH_PROD }} --exclude '*' --include '*tar.gz'
#
